---
name: Manually build ZMK firmware
run-name: run started on ${{ inputs.build-required }} ${{ inputs.build-optional-1 }}${{ inputs.build-optional-2 }}
on:
  workflow_dispatch:
    inputs:
      build-required:
        description: "input matrix base file name"
        required: true
        type: string
        default: "default"
      build-optional-1:
        description: "first extra matrix"
        required: false
        type: string
        default: ""
      build-optional-2:
        description: "second extra matrix"
        required: false
        type: string
        default: ""

jobs:
  build-input:
    name: "build ${{ inputs.build-required }}"
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      build_matrix_path: "mx-builds/${{ inputs.build-required }}.yaml"
  build-extra-1:
    if: ${{ inputs.build-optional-1 }}
    name: "build ${{ inputs.build-optional-1 }}"
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      build_matrix_path: "mx-builds/${{ inputs.build-optional-1 }}.yaml"
  build-extra-2:
    if: ${{ inputs.build-optional-2 }}
    name: "build ${{ inputs.build-optional-2 }}"
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      build_matrix_path: "mx-builds/${{ inputs.build-optional-2 }}.yaml"
