---
name: Manually build ZMK firmware
run-name: '${{ github.actor }} started run on ${{ inputs.mx_list_input }}'
on:
  workflow_dispatch:
    inputs:
      mx_list_input:
        description: "List of comma separated matrix base filenames"
        required: true
        type: string
        default: "default"

jobs:
  gen-matrix-matrix:
    name: "Generate matrices from input"
    runs-on: ubuntu-latest

    outputs:
      matrices: ${{ steps.parse.outputs.mx_list }}

    steps:
      - name: List from input
        id: parse
        run: |
          echo "mx_list=$(echo '"${{ inputs.mx_list_input }}"' | jq -c 'split(",")')" >> "$GITHUB_OUTPUT"

  build:
    name: Build firmwares from list of inputs
    needs: gen-matrix-matrix
    strategy:
      matrix:
        elements: ${{ fromJSON(needs.gen-matrix-matrix.outputs.matrices) }}
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3
    with:
      build_matrix_path: "mx-builds/${{ matrix.elements }}.yaml"
